<header>
    <nav class="navbar bg-dark">
        <div class="container">
            <a class="navbar-brand text-info text-uppercase" href="#">Informazioni</a>
            <a class="navbar-brand text-info text-uppercase" href="https://localhost:7133/Home/Contacts">Contatti</a>
        </div>
    </nav>
    <h2 class="text-center">La mia Pizzeria</h2>
</header>